<!doctype html>
<html>
  <head>
    <title>URL Shortener</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      footer {
        background-color: #333;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
      .copyright {
        color: white;
      }
      .title {
        text-align: center;
        font:
          900 49px asap,
          arial;
        color: #0186da;
        letter-spacing: -1px;
        text-shadow: 0 2px 2px #ddd;
        word-wrap: break-word;
        margin-top: 70px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
      }
      input,
      button {
        font-size: 16px;
        border: none;
        padding: 15px;
      }
      input {
        outline: none;
        width: 70%;
      }
      button {
        cursor: pointer;
        background-color: #2c87c5;
      }
      p {
        font:
          17px 'source sans pro',
          arial;
        color: #202020;
        line-height: 1.5;
        padding: 0 0 0 2px;
      }
      .url_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #bbb;
        width: 88%;
        margin: 20px auto;
      }
      .btn {
        color: white;
      }
      .description {
        margin: 30px auto 20px;
        text-align: center;
        max-width: 620px;
      }
      .result {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .copy-btn {
        margin-left: 10px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 3px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1 class="title">Short URL</h1>
    <div class="container">
      <h1>Paste the URL to be shortened</h1>
      <form id="urlForm">
        <div class="url_input">
          <input
            type="text"
            name="originalUrl"
            id="originalUrl"
            placeholder="Enter URL here"
            required
          />
          <button type="submit" class="btn">Shorten URL</button>
        </div>
      </form>

      <div id="shortenedUrlContainer"></div>

      <div class="description">
        <p>ShortURL is a free tool to shorten URLs and generate short links</p>
        <p>
          URL shortener allows to create a shortened link making it easy to
          share
        </p>
      </div>
    </div>
    <footer>
      <p class="copyright">&copy; 2024 My Website</p>
    </footer>
    <script>
      function copyToClipboard(url) {
        navigator.clipboard
          .writeText(url)
          .then(() => {
            alert('URL copied to clipboard');
          })
          .catch((err) => {
            console.error('Failed to copy: ', err);
          });
      }

      function getCookie(name) {
        const nameEQ = name + '=';
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1);
          if (c.indexOf(nameEQ) === 0)
            return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      document
        .getElementById('urlForm')
        .addEventListener('submit', async (e) => {
          e.preventDefault();
          const originalUrl = document.getElementById('originalUrl').value;

          const userCookie = getCookie('user');
          let userId = null;
          if (userCookie) {
            const user = JSON.parse(userCookie);
            userId = user.id;
          }

          try {
            const response = await fetch('/url/shorten', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ userId: userId, originalUrl }),
            });
            if (response.ok) {
              const data = await response.json();
              document.getElementById('shortenedUrlContainer').innerHTML = `
            <div class="result">
              <p>Shortened URL: <a href="${data.shortUrl}" target="_blank">${data.shortUrl}</a></p>
              <button class="copy-btn" onclick="copyToClipboard('${data.shortUrl}')">Copy</button>
            </div>
          `;
            } else {
              console.error('Failed to fetch user URLs:', response.statusText);
            }
          } catch (error) {
            console.error('An error occurred:', error);
          }
        });
    </script>
  </body>
</html>
